.title {
  font-style: bold;
  font-size: 50px;
  text-align: center;

  padding: 25px;
}

.service {
  width: 70%;
  padding: 10px;
  .service-button {
    font-weight: 10px;
  }

  .view-records {
    padding: 10px;
  }
}

.spinner {
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}
