<div fxLayout="column" fxFlex>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. John" />
  </mat-form-field>

  <mat-form-field fxFlex="20" class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. Smith" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput type="number" placeholder="Ex. 5617418006" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>
</div>
