table {
  width: 98%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.spinner {
  width: 98%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.mat-form-field {
  font-size: 20px;
  width: 98%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
}
